root: true

env:
  node: true
  mocha: true

extends:
  "eslint:recommended"

globals:
  should: true

rules:
  semi: [2, "always"]
  space-before-function-paren: [2, "never"]
  quotes: [2, "single"]
  indent: [2, 2, { "SwitchCase": 1 }]
